@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --pink:#ff5672;
    --white:#fff;
    --mobile: 540px;
    --tablet: 768px;
    --desktop: 1024px;
    --desktopL: 1200px;
}
.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/*Styles for header*/
header{
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(124, 123, 123, 0.4);
    position:sticky;
    z-index: 9;
    top: 0;
}
header .main-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 0;
}

header .main-navbar .main-navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


header .main-navbar .main-navigation .main-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

header .main-navbar .main-navigation .main-menu .menu-item{
    padding: 10px 0px;

}

header .main-navbar .main-navigation .main-menu .menu-item .menu-link{
    text-decoration: none;
    color: #383838;
    padding: 10px 20px;
    margin: 0 5px;
}

header .main-navbar .main-navigation .main-menu .menu-item .menu-link.active{
    text-decoration: none;
    color: var(--white);
    background-color: var(--pink);
}


header .main-navbar .main-navigation .main-menu .menu-item .menu-link:hover{
    text-decoration: none;
    color: var(--white);
    background-color: var(--pink);
}

header .main-navbar .main-navigation .btn-search{
    position: relative;
    background: transparent;
    border: 0;
    margin: 0 10px;
    width: 25px;
    height: 100%;
    min-height: 45px;
    cursor: pointer;
}

header .main-navbar .main-navigation .btn-search:hover::after{
    color: grey;
}
header .main-navbar .main-navigation .btn-search::after{
    content: '\f002';
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--pink);
   
}


header .main-navbar  .btn-burguer{
    position: relative;
    padding: 15px;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    display: none ;
}

header .main-navbar  .btn-burguer::after{
    content: '\f0c9';
    position: absolute;
    font-family: FontAwesome;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--pink);
    cursor: pointer;
    z-index: 9;
}
/*Styles for banner*/
section.main-banner{
    position: relative;
}
section.main-banner picture{
    text-align: center;
}

section.main-banner picture .banner{
    width: 100%;
    height: auto;
}

section.main-banner picture .content-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

section.main-banner picture .content-info .title{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 10px;
    margin: 0;
}
section.main-banner picture .content-info .description{
    font-size: 1rem;
    color: var(--white);
    letter-spacing: 5px;
    margin: 2rem 0 2.5rem;
}

section.main-banner picture .content-info .description span{
    display: block;
}

section.main-banner picture .content-info .btn-view{
    padding: 12px 25px;
    color: var(--pink);
    background-color: var(--white);
    border: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    cursor: pointer;
    border: 1px solid var(--pink);
}

section.main-banner picture .content-info .btn-view:hover{
    color: var(--white);
    background-color: var(--pink);
    transition: .5s;
    border: 1px solid var(--white);
}


/*Section content cards styles*/

/*Tabs styles*/
section.main-content .tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

section.main-content .tabs .btn-window,section.main-content .tabs .btn-bars{
    background: transparent;
    border: 0;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
}

section.main-content .tabs .btn-window::after{
    content: "\f009";
    font-family: FontAwesome;
    position: absolute;
    font-size: 20px;
    color: var(--pink);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

section.main-content .tabs .btn-window:hover::after{
    color: grey;
}


section.main-content .tabs .btn-bars::after{
    content: "\f04c";
    font-family: FontAwesome;
    position: absolute;
    font-size: 20px;
    color: var(--pink);
    top: 5%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    transform: rotate(90deg);
}

section.main-content .tabs .btn-bars:hover::after{
    color: grey;
}

/*Main menu styles*/
section.main-content .main-content-navigation{
    margin: 2rem 0 4rem;
}
section.main-content .main-content-navigation .main-menu{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    align-items: center;
}
section.main-content .main-content-navigation .main-menu .menu-item{
    padding: 10px 0px;
    
}

section.main-content .main-content-navigation .main-menu .menu-item .menu-link{
    text-decoration: none;
    color: #383838;
    padding: 10px 20px;
    margin: 0 5px;
}


section.main-content .main-content-navigation .main-menu .menu-item .menu-link.active{
    text-decoration: none;
    color: var(--white);
    background-color: var(--pink);
}

section.main-content .main-content-navigation .main-menu .menu-item .menu-link:hover{
    text-decoration: none;
    color: var(--white);
    background-color: var(--pink);
}


/*Cards grid styles*/
section.main-content .content-cards{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-height: 2000px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

section.main-content .content-cards .card{
    width:33%;
    height: 100%;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
}

section.main-content .content-cards .card img{
    width: 100%;
    height: auto;
}

/*Card footer styles*/

section.main-content .content-cards .card .card-footer{
    position: absolute;
    bottom:10%;
    width: 80%;
    background-color: var(--pink);
    padding: 0 15px;
    opacity: 0;
    box-sizing: border-box;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

section.main-content .content-cards .card:hover .card-footer{
    opacity: 1;
    transition: .5s ease-in;
}

section.main-content .content-cards .card .card-footer .description{
    color: var(--white);
    text-align: center;
}

section.main-content .show-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
section.main-content .show-more .btn-showmore{
    padding: 12px 25px;
    color: var(--white);
    background-color: var(--pink);
    border: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    cursor: pointer;
    border: 1px solid var(--white);
}

section.main-content .show-more .btn-showmore:hover{
    color: var(--pink);
    background-color: var(--white);
    border: 1px solid var(--pink);
    transition: .3s ease-in;
}

/*Footer styles*/

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
}

footer .description{
    color: #929292;
    letter-spacing: 5px;
}

footer .description b{
    color: var(--pink);
}

footer .main-social-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

footer .main-social-menu .menu-social-item{
    padding: 10px 0px;
}

footer .main-social-menu .menu-social-item .menu-social-link{
   
    padding: 5px 12px;
    margin: 0 5px;
    position: relative;
}

footer .main-social-menu .menu-social-item .menu-social-link.facebook::after{
    content: '\f09a';
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
}

footer .main-social-menu .menu-social-item .menu-social-link.twitter::after{
    content: '\f099';
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
}

footer .main-social-menu .menu-social-item .menu-social-link.dribble::after{
    content: '\f17d';
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
}

footer .main-social-menu .menu-social-item .menu-social-link.gplus::after{
    content: '\f0d5';
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:grey;
}

footer .main-social-menu .menu-social-item .menu-social-link.youtube::after{
    content: '\f167';
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
}


/** RESPONSIVE DESIGN **/

@media screen and (max-width:930px){
    /**Section Main Banner**/
    section.main-banner picture .content-info .title{
        letter-spacing: 5px;
    }
}
@media screen and (max-width:768px) {
    header .main-navbar{
        position: relative;
    }
    header .main-navbar .main-navigation{
        position: absolute;
        top: 100%;
        background: #fff;
        right: -20px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        box-shadow: -4px 5px 4px 2px rgba(124, 123, 123, 0.4);
        display: none;
    }

    header .main-navbar .main-navigation.show-menu{
        display: block;
    }

    header .main-navbar .main-navigation .main-menu{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    header .main-navbar .main-navigation .main-menu .menu-item .menu-link{
        padding: 10px 25%;
    }

    header .main-navbar  .btn-burguer{
        display: block;
    }

    header .main-navbar  .btn-burguer.close::after{
        content: '\f00d';
        position: absolute;
        font-family: FontAwesome;
        font-size: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--pink);
        cursor: pointer;
        z-index: 9;
    }


    section.main-banner picture .content-info .description{
        font-size: .8em;
        letter-spacing: 1px;
    }

    section.main-content .content-cards{
        max-height: 1345px;
    }

    footer .description{
        font-size: .8rem;
        letter-spacing: 2px;
    }
}

@media screen and (max-width:470px) {
    section.main-banner picture .content-info .title{
        font-size: 1.5em;
    }

    section.main-content .main-content-navigation .main-menu{
        flex-wrap: wrap;
    }

    section.main-content .content-cards{
        max-height: 630px;
        gap:5px;
    }
}